<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="/site_media/images/favicon.ico">
    <title>Allthink Lessons - {{ username }}</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/site_media/css/global.css">
    <script type="text/javascript" src="/site_media/js/common.js"></script>
    <script type="text/javascript" src="/site_media/js/jquery.js"></script>
</head>
<body>

<script type="text/javascript">
    $(document).ready(function() {
        $('#popclose').click(function() {
            location.reload();
        });
    });
</script>

<div id="wrapper">
    <div id="navwrapper" class="notranslate">
        <ul class="topnav" style="float: right;">
            <li>
                <a href="/user/{{ username }}/" class="nav" style="color:rgb(213,213,240);">
                    <img src="/{{ avatar_dir }}">
                    {{ fullname }} </a>
            </li>
            <li>
                <a href="/logout/" class="nav" style="color:rgb(213,213,240);">
                    Logout </a>
            </li>
        </ul>
        <a href="/user/{{ username }}/" id="logo" class="gradebook" title="gradebook"><b>gradebook</b></a>
        <ul class="topnav">
            <li>
                <a href="/user/{{ username }}/account" class="">Account </a>
                <ul>
                    <li><a href="/user/{{ username }}/account">Edit Account</a></li>
                    <li><a href="/user/{{ username }}/pic">Edit Picture</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="main" class="clearfix">
        <h1>Allthink Lessons</h1>

        <div class="tr">

            <div class="sidetools sideup">
                <img src="/{{ avatar_dir }}" class="sidepic">
            </div>

            <div style="position:absolute;left:200px;top:90px;right:0;bottom:0;z-index:2">


                <div style="width:100%;height:75px;background:url(/site_media/images/allthinkbg.jpg) 0 -68px repeat-x rgb(255,255,255);font-size:8pt;line-height:200%">
                    <a href="/user/{{ username }}/"
                       target="top"><img src="/site_media/images/allthinklogo2.png" style="float:left;margin-right:15px"></a>

                    <div style="max-width:770px">
                        Allthink
                    </div>
                </div>

                <div class="options">
                    <a href=""
                       onclick="popon('addpage');return false" class="title"><img
                            src="/site_media/images/page-add.png" class="upic"> Add New Lesson</a>
                </div>

                <div class="table bb">
                    {% if lessons %}
                        {% for lesson in lessons %}
                            <div class="row">
                                <a href="/user/{{ username }}/lesson/{{ lesson.id }}/view/1/0"
                                   target="_top"><img src="/site_media/images/lecture.jpg" class="postpic"></a>
                                <a href="/user/{{ username }}/lesson/{{ lesson.id }}/view/1/0"
                                   class="title" target="top"><b>{{ lesson.lessonTitle }}</b></a>

                                <div class="inline">
                                    <a href="/user/{{ username }}/lesson/{{ lesson.id }}/view/1/0">View Lesson</a>
                                    -
                                    <a href="/user/{{ username }}/lesson/{{ lesson.id }}/removeref" rel="tooltip" onclick="return confirm('Are you sure you want to unfollow this lesson ?')">Unfollow Lesson</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="row">
                            No lesson found.
                        </div>
                    {% endif %}

                </div>

            </div>

        </div>

        <div class="table" id="addpage" style="width:800px; height : 300px; display:none" title="Add Lesson">
{#            {% if all_lessons %}#}
{#                {% for lesson in all_lessons %}#}
{#                    {% if lesson not in lessons %}#}
{#                        <a href="/user/{{ username }}/lesson/{{ lesson.id }}/addref" class="row"> <img#}
{#                            src="/site_media/images/folder.png" class="upic"> {{ lesson.lessonTitle }} *** {{ lesson.user.fullname }} </a>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            {% else %}#}
{#                <div class="row">#}
{#                    No lesson found.#}
{#                </div>#}
{#            {% endif %}#}
                <iframe style="width: 800px; height: 290px; position:absolute;left:0px;top:40px;right:0;bottom:0;z-index:2"
                        src="/search_form?u={{ username }}" id="appframe" border="0" frameborder="0"
                        ></iframe>
        </div>

    </div>
</div>

<div id="pop" class="off">
    <div id="poptop">
        <a href="javascript:popoff();void(0)" id="popclose" title="Close"><img src="/site_media/images/delete.png" alt="Close"></a>
        <div id="poptitle">&nbsp;</div>
    </div>
    <div id="popc"></div>
</div>
<!--
 
-->


</body>
</html>